body{
    background-attachment: fixed;
    margin:0; 
}

#form{
    width:400px;
    margin:25px auto 0 auto;
    border-radius: 5px;
    padding:30px;
}

#form button{
    background-color: #0066ff;
    color:white;
    border: none;
    border-radius: 3px;
    padding:10px;
    margin:10px 0px;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(0, 0, 0) ;
}

.input-group input:focus{
    outline:0;
}


.input-group input{
    font-weight: bold;
}

.input-group textarea{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    border:1px solid rgb(0, 0, 0) ;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}